@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.prose {
  color: #E5E5E5;
}
.prose h1, .prose h2, .prose h3 { color: white; font-weight: 600; }
.prose a { color: #FFC700; text-decoration: underline; }
.prose code { background: #1E1E20; padding: 2px 6px; border-radius: 4px; font-size: 0.9em; }
.prose pre { background: #141415 !important; border: 1px solid #232325; }
